<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <!-- Incluez les fichiers CSS nécessaires -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<header class="header1">
    <nav class="navbar navbar-default navbar-static-top fluid_header centered">
        <div class="container">

            <!-- Logo -->
            <div class="col-md-2 col-sm-6 col-xs-8 nopadding">
                <a class="navbar-brand nomargin" href="home"><img src="images/logo.svg" alt="logo"></a>
                <!-- INSERT YOUR LOGO HERE -->
            </div>

            <!-- ======== Start of Main Menu ======== -->
            <div class="col-md-10 col-sm-6 col-xs-4 nopadding">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle toggle-menu menu-right push-body" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Start of Main Nav -->
                <div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="main-nav">
                    <ul class="nav navbar-nav pull-right">

                        <!-- Mobile Menu Title -->
                        <li class="mobile-title">
                            <h4>main menu</h4></li>

                        <!-- Simple Menu Item -->
                        <li class="dropdown simple-menu active">
                            <a href="index" class="dropdown-toggle"  role="button">Accueil</a>

                        </li>

                        <!-- Simple Menu Item -->
                        <li class="dropdown simple-menu">
                            <a href="aboutUs" class="dropdown-toggle" data-toggle="dropdown" role="button">Le cabinet</a>

                        </li>

                        <!-- Simple Menu Item -->
                        <li class="dropdown simple-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Domaines d'intervention</a>

                        </li>

                        <!-- Mega Menu Item -->
                        <li class="dropdown mega-menu">
                            <a href="jobP" class="dropdown-toggle" data-toggle="dropdown" role="button">Offres en cours</a>
                        </li>
                        <!-- End of Mega Menu Item -->

                        <!-- Simple Menu Item -->
                        <li class="dropdown simple-menu">
                            <a href="resume" class="dropdown-toggle" data-toggle="dropdown" role="button">Candidature spontanée</a>

                        </li>

                        <!-- Simple Menu Item -->
                        <li class="dropdown simple-menu">
                            <a href="blog-f" class="dropdown-toggle" data-toggle="dropdown" role="button">Blog</a>

                        </li>



                        <!-- Login Menu Item -->
                        <li class="menu-item login-btn">
                            <a  href="contact" role="button">Contact</a>
                        </li>

                    </ul>
                </div>
                <!-- End of Main Nav -->
            </div>
            <!-- ======== End of Main Menu ======== -->

        </div>
    </nav>
</header>
<body>
<section class="ptb80" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                <!-- Formulaire de contact -->
                <form id="contact-form" class="mt30" action="/sendMessage" method="post">
                    <div class="form-group">
                        <input class="form-control input-box" type="text" name="name" placeholder="Your Name" required>
                    </div>

                    <div class="form-group">
                        <input class="form-control input-box" type="email" name="email" placeholder="your-email@example.com" required>
                    </div>

                    <div class="form-group">
                        <input class="form-control input-box" type="tel" name="phone" placeholder="Phone Number" required>
                    </div>

                    <div class="form-group">
                        <input class="form-control input-box" type="text" name="subject" placeholder="Subject" required>
                    </div>

                    <div class="form-group mb20">
                        <textarea class="form-control textarea-box" rows="8" name="messagef" placeholder="Type your message..." required></textarea>
                    </div>

                    <div class="form-group text-center">
                        <button class="btn btn-blue btn-effect" type="submit">Send message</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</section>
</body>
</html>
